* {
	box-sizing: border-box;
}

body {
	font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 960px;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	position: relative;
	overflow: hidden;
}

.hero {
	position: relative;
	overflow: hidden;
	height: 250px;
	margin-bottom: 20px;
}

.section-contrary {
	margin-bottom: 50px;
}

.navbar {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 40px;
	color: #000;
	text-decoration: none;
}

.logo-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #5094f2;
	font-size: 25px;
	line-height: 1px;
	margin-right: 10px;
}

.logo-icon::before {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('../img/double-quotes-svgrepo-com.svg');
	background-repeat: no-repeat;
}


.navbar-right {
	position: relative;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 58px;
	height: 44px;
	background-color: #5094f2;
	border-radius: 3px;
	cursor: pointer;
}

.menu-lines {
	width: 37px;
	height: 6px;
	background-color: #fff;
}


.menu-lines:nth-child(even) {
	margin: 3px 0;
}

.navbar-burger {
	display: none;
}

.navbar-primary {
		display: none;
	} 

.burger-open {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	margin-top: 10px;
	background-color: #5094f2;
	border-radius: 3px; 
}

.hero-content {
	position: relative;
	margin-top: 22px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.hero-background > img {
	width: 100%;
	height: 100%;
}

.hero-image {
	max-width: 60%;
}

.hero-desc	{
	max-width: 40%;
	color: #fff;
	padding-left: 15px;
	font-weight: 300;
	font-size: 31px;
}

.hero-text {
	font-size: 0.75em;
	padding-bottom: 33px;
}

.hero-image {
	max-width: 177px;
	max-height: 223px;
	display: block;
}

.hero-image > img {
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
}

.button {
	display: inline-block;
	padding: 12px 20px;
	background-color: #5094f2;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.button.nav-button {
	padding: 5px 2px;
	font-size: 14px;
	border-radius: 3px; 
}

.button:hover {
	background-color: #fff;
	color: #5094f2;
	cursor: pointer;
}

.button-sign-in::before {
	content: "✓";
	display: inline-flex;
	justify-content: center;	
	align-items: center;	
	width: 23px;
	height: 23px;
	margin-right: 10px;
	background-color: #fff;
	color: #5094f2;
	border-radius: 50%;
}

.grid {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}

.grid > .grid-item {
	padding: 0px 15px;
}

.grid-col-3 > .grid-item {
	width: 100%;
}

.card {
	position: relative;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #CCCCCC;
	padding: 20px 0;
}

.card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	border-radius: 50%
}

.card-image>a  {
	width: auto;
	height: auto;
}

.card-image:hover {
	cursor: pointer;
	opacity: 0.7;
}

.card-content {
	max-width: 354px;
	margin-left: 27px;
	font-size: 34px;
	color: #5094f2;
}

.card-text {
	padding-top: 10px;
	font-size: 0.56em;
	color: #909090;
}

.card-image.pencil {
	background: #5094f2;
}

.card-image.computer {
	background: #d94748;
}

.card-image.basket {
	background: #ebbb11;
}

.grid-cart {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cart-heading {
	text-align: center;
}

.cart-heading-title {
	font-size: 42px;
	color: #6f7173;
	padding-bottom: 31px;
}

.cart-image {
	display: flex;
	justify-content: center;
}


.cart-image > a {
	width: 215px;
	height: : 162px;
}

.card-cart-content {
	color: #6f7173;
	font-size: 34px;
	padding: 30px 20px;
}

.cart-content {
	font-size: 0.5em;
	line-height: 36px;
	color: #909090;
	padding-top: 20px;
}

.footer {
	border-top: 1px solid #CCCCCC;
	padding: 30px 0;
}

.rights {
	font-size: 15px;
	color: #909090;
	text-align: center;
}

@media (max-width: 539px) {

	.logo-title {
		font-size: 36px;
	}

	.hero-content {
		margin-top: 30px;
	}

	.hero-desc	{
		color: #fff;
		font-weight: 300;
		font-size: 24px;
	}

	.hero-text {
		font-size: 0.75em;
		padding-bottom: 20px;
	}

	.button {
		display: inline-block;
		padding: 8px 16px;
		background-color: #5094f2;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
	}
	.card {
		flex-direction: column;
		align-items: center;
		border-bottom: none;
		text-align: center;
		border-bottom: 1px solid #CCCCCC;
	}

	.card-image {
		width: 120px;
		height: 120px;
	}
  
  .card-content {
  	font-size: 24px;
  }

  .cart-heading-title {
    font-size: 32px;
  }
  .card-cart-content {
    font-size: 28px;
}
}

@media (min-width: 719px) {
	.container {
		padding: 0 30px;
	}

	.menu {
		display: none;
	}

	.navbar-burger {
		display: none;
	}

  .logo {
  	padding: 5px 0;
  }
  
	.navbar {
		display: flex;
		align-items: flex-end;
		height: auto;
	}

	.navbar-primary {
		display: flex;
	} 

	.button.nav-button {
		padding: 0;
		font-size: 20px;
		color: #6c6c6c;
		background: #fff;
		margin-left: 30px;
		border-radius: 0;
		padding-bottom: 18px;
		border-bottom: 2px solid transparent;
	}

	.button.nav-button:hover {
		border-bottom: 2px solid #5094f2;
	}

	.hero-content {
		justify-content: space-around;
	}

	.hero-desc {
		padding-left: 30px;
		align-self: center;
	}

	.grid {
		justify-content: space-around;
	}

	.grid-col-3 > .grid-item {
		width: 50%;
	}

	.card {
		flex-direction: column;
		align-items: center;
		border-bottom: none;
		text-align: center;
	}

	.grid-cart {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 95px;
	}
	.cart-heading-title {
		padding-bottom: 13px;
	}

	.cart-image > a {
		width: 371px;
		height: 279px;
	}

	.card-cart-content {
		padding: 0;
		font-size: 26px;
		max-width: 453px;
		margin-left: 40px;
	}

	.cart-heading {
		text-align: left;
	}

}

@media (min-width: 1140px) {

	.hero {
		height: 475px;
		margin-bottom: 70px;
	}

	.hero-image {
		max-width: 345px;
		max-height: 436px;
	}

	.hero-content {
		justify-content: space-between;
	}

	.grid {
		justify-content: space-between;
	}

	.grid-col-3 > .grid-item {
		width: 33.33%;
	}

	.card-image {
		width: 186px;
		height: 186px;
		margin-bottom: 30px;
	}

	.card-content {
		font-size: 20px;
	}

	.card-text {
		font-size: 14px;
	}

	.section-contrary {
		margin-bottom: 91px;
	}

	.sign-up-button {
		width: 172px;
		height: 41px;
	}

	.hero-button-image {
		width: 23px;
		height: 23px;  	
	}

	.hero-button-text {
		font-size: 18px;
	}

}